<nav class="nav">
  <div class="nav-c-container">
    <div class="nav-content">
      <div class="max-md:text-xl text-yellow-500/70 font-bold">
        JSTR<span class="text-white/50"></span>
      </div>

      <div class="nav-links">
        <a href="#" class="opacity-50"> الرئيسية </a>
        <a href="#" class="opacity-50"> سوشيال </a>
        <a href="#" class="opacity-50"> تجارة </a>
        <a href="#" class="opacity-50"> المتجر </a>
        <a href="#" class=""> الإشتراكات </a>
        <a href="#" class="opacity-50"> النظام البيئي </a>
      </div>
    </div>

    <a
      href="https://github.com/noureddein-al-shawwa/jstr-template"
      target="_blank"
      class="btn-small select-none"
    >
      Source Code
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="#fc0"
          viewBox="0 0 256 256"
          ><path
            d="M212.62,75.17A63.7,63.7,0,0,0,206.39,26,12,12,0,0,0,196,20a63.71,63.71,0,0,0-50,24H126A63.71,63.71,0,0,0,76,20a12,12,0,0,0-10.39,6,63.7,63.7,0,0,0-6.23,49.17A61.5,61.5,0,0,0,52,104v8a60.1,60.1,0,0,0,45.76,58.28A43.66,43.66,0,0,0,92,192v4H76a20,20,0,0,1-20-20,44.05,44.05,0,0,0-44-44,12,12,0,0,0,0,24,20,20,0,0,1,20,20,44.05,44.05,0,0,0,44,44H92v12a12,12,0,0,0,24,0V192a20,20,0,0,1,40,0v40a12,12,0,0,0,24,0V192a43.66,43.66,0,0,0-5.76-21.72A60.1,60.1,0,0,0,220,112v-8A61.5,61.5,0,0,0,212.62,75.17ZM196,112a36,36,0,0,1-36,36H112a36,36,0,0,1-36-36v-8a37.87,37.87,0,0,1,6.13-20.12,11.65,11.65,0,0,0,1.58-11.49,39.9,39.9,0,0,1-.4-27.72,39.87,39.87,0,0,1,26.41,17.8A12,12,0,0,0,119.82,68h32.35a12,12,0,0,0,10.11-5.53,39.84,39.84,0,0,1,26.41-17.8,39.9,39.9,0,0,1-.4,27.72,12,12,0,0,0,1.61,11.53A37.85,37.85,0,0,1,196,104Z"
          ></path></svg
        >
      </div>
    </a>
  </div>

  <svg
    height="48"
    class="absolute w-full max-md:w-[1600px]"
    viewBox="0 0 1662 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <foreignObject x="-99.5" y="-100" width="1861.5" height="247.983">
      <div
        style={{
          backdropFilter: "blur(50px)",
          clipPath: "url(#bgblur_0_177_60_clip_path)",
          height: "100%",
          width: "100%",
        }}
      >
      </div>
    </foreignObject>
    <g>
      <path
        d="M1662 23.5C1662 10.5213 1651.48 0 1638.5 0H1571.81C1565.92 0 1560.66 3.68295 1558.65 9.2156L1556.24 15.8342C1552.18 27.0018 1536.93 28.351 1530.97 18.0697L1524.55 6.98006C1522.04 2.65968 1517.43 0 1512.43 0H24.4919C11.2416 0 0.5 10.7415 0.5 23.9919C0.5 37.2486 11.2515 47.9928 24.5081 47.9838L1476.75 47.0052C1481.57 47.002 1486.05 44.5157 1488.61 40.4252L1499.43 23.1084C1505.08 14.0717 1518.35 14.4071 1523.54 23.7175L1532.5 39.8108C1534.97 44.2487 1539.65 47 1544.73 47H1638.5C1651.48 47 1662 36.4787 1662 23.5Z"
        fill="white"
        fill-opacity="0.05"></path>
      <path
        d="M1638.5 0.5H1571.81C1566.13 0.500134 1561.06 4.05177 1559.12 9.38672L1556.71 16.0049C1552.51 27.5714 1536.71 28.9686 1530.54 18.3203L1524.11 7.23047C1521.7 3.06467 1517.25 0.500065 1512.43 0.5H24.4922C11.518 0.5 1 11.018 1 23.9922C1.00015 36.9725 11.5276 47.4921 24.5078 47.4834L1476.75 46.5049C1481.4 46.5017 1485.72 44.1046 1488.19 40.1602L1499.01 22.8438C1504.86 13.4844 1518.6 13.8317 1523.97 23.4746L1532.93 39.5674C1535.32 43.8468 1539.83 46.5 1544.73 46.5H1638.5C1651.2 46.5 1661.5 36.2025 1661.5 23.5C1661.5 10.7975 1651.2 0.5 1638.5 0.5Z"
        stroke="white"
        stroke-opacity="0.1"></path>
    </g>
    <defs>
      <clipPath id="bgblur_0_177_60_clip_path" transform="translate(99.5 100)">
        <path
          d="M1662 23.5C1662 10.5213 1651.48 0 1638.5 0H1571.81C1565.92 0 1560.66 3.68295 1558.65 9.2156L1556.24 15.8342C1552.18 27.0018 1536.93 28.351 1530.97 18.0697L1524.55 6.98006C1522.04 2.65968 1517.43 0 1512.43 0H24.4919C11.2416 0 0.5 10.7415 0.5 23.9919C0.5 37.2486 11.2515 47.9928 24.5081 47.9838L1476.75 47.0052C1481.57 47.002 1486.05 44.5157 1488.61 40.4252L1499.43 23.1084C1505.08 14.0717 1518.35 14.4071 1523.54 23.7175L1532.5 39.8108C1534.97 44.2487 1539.65 47 1544.73 47H1638.5C1651.48 47 1662 36.4787 1662 23.5Z"
        ></path>
      </clipPath>
    </defs>
  </svg>
</nav>
